<div class="section-wrapper">
  <h2 class="section-header">Noclegi</h2>
  <p class="section-description">
  W trosce o komfort naszych Gości przygotowaliśmy propozycje noclegów w pobliżu miejsca ceremonii i przyjęcia. Oto trzy wybrane przez nas miejsca:
  
  <a href="https://maps.app.goo.gl/8ByEmSbB6tY2p1bA9" target="_blank" class="location-button section-button">
    <span class="icon">🏡</span>
    Agroturystyka Musiała - Kobyla Góra
  </a>

  <a href="https://maps.app.goo.gl/zHa7oopq4ZA1KCgz8" target="_blank" class="location-button section-button">
    <span class="icon">🏨</span>
    Hotel Chata Walichnowska
  </a>

  <a href="https://maps.app.goo.gl/3UXJ9bbrAtt6gn6t8" target="_blank" class="location-button section-button">
    <span class="icon">🎉</span>
    Dom Weselny "Celinka"
  </a>

  W razie pytań dotyczących rezerwacji, służymy pomocą i dodatkowymi informacjami.
  </p>
</div>
