<div class="section-wrapper">
  <h2 class="section-header">Noclegi i usługodawcy</h2>
  <div class="section-description">
    O uwiecznienie cudownych momentów oraz waszą dobrą zabawę w pięknych i
  smacznych okolicznościach dbają dziś:

  <div class="tiles-grid">
    <a href="https://www.instagram.com/karol_zaremba_music/" target="_blank" class="location-button section-button tile">
      <span class="icon">🎧</span>
      DJ -> Karol Zaremba Music
    </a>

    <a href="https://www.instagram.com/marcinczajka.film/" target="_blank" class="location-button section-button tile">
      <span class="icon">🎥</span>
      Film -> Marcin Czajka Film
    </a>

    <a href="https://www.instagram.com/kamila.kedziora.photo/" target="_blank" class="location-button section-button tile">
      <span class="icon">📸</span>
      Zdjęcia -> Kamila Kędziora Photography
    </a>

    <a href="https://www.instagram.com/improwizorka/" target="_blank" class="location-button section-button tile">
      <span class="icon">🎀</span>
      Dekoracje -> Improwizorka
    </a>

    <a href="https://www.instagram.com/primatort/" target="_blank" class="location-button section-button tile">
      <span class="icon">🍰</span>
      Słodkości -> Prima Tort
    </a>

    <a href="https://www.instagram.com/platinum.serviceevents/" target="_blank" class="location-button section-button tile">
      <span class="icon">🍹</span>
      Barmani -> Platinum Service
    </a>

    <a href="https://www.facebook.com/360wielun/" target="_blank" class="location-button section-button tile">
      <span class="icon">🤳</span>
      Fotobudka -> 360 Momentów
    </a>

    <a href="https://www.instagram.com/celinkacity/" target="_blank" class="location-button section-button tile">
      <span class="icon">🏰</span>
      Sala weselna -> Celinka
    </a>
</div>

    Krótka przypominajka lokalizacji Waszych miejsc noclegowych:
  <a href="https://maps.app.goo.gl/8ByEmSbB6tY2p1bA9" target="_blank" class="location-button section-button">
    <span class="icon">🏡</span>
    Agroturystyka Musiała - Kobyla Góra
  </a>

  <a href="https://maps.app.goo.gl/zHa7oopq4ZA1KCgz8" target="_blank" class="location-button section-button">
    <span class="icon">🏨</span>
    Hotel Chata Walichnowska
  </a>

  <a href="https://maps.app.goo.gl/3UXJ9bbrAtt6gn6t8" target="_blank" class="location-button section-button">
    <span class="icon">🎉</span>
    Dom Weselny "Celinka"
  </a>
</div>
</div>
