<div class="section-wrapper">
  <h2 class="section-header">Galeria</h2>
  <p class="section-description">
      Czas mija jak szalony i zanim się obejrzymy ten piękny dzień będzie już tylko
      wspomnieniem. Zatrzymajmy te chwile na dłużej!
      Stwórzmy wspólnie galerię, do której będziemy wracać z uśmiechem przez długie
      lata!
      Kliknij w poniższy link by dodać zdjęcie lub film.
      Dziękujemy!
  </p>
  <a [href]="galleryLink" target="_blank" class="location-button section-button">
    Stwórzmy wspomnienia” 📸
  </a>

  <div class="basic-container gallery-view">
    <gallery id="basic-test" imageSize="cover" fluid="true" [items]="items" loading="lazy"></gallery>
  </div>

</div>
