<div class="section-wrapper">
  <h2 class="section-header">Galeria</h2>
  <p class="section-description">
    Nasz ślub był wyjątkowym dniem pełnym radości i wzruszeń 💕<br/>
    Chcielibyśmy zachować te piękne chwile na zawsze, a Wasze zdjęcia
    są bezcenną częścią naszych wspomnień.<br/>
    Podzielcie się nimi, abyśmy mogli razem wracać do tych cudownych momentów!
  </p>
  <a [href]="galleryLink" target="_blank" class="location-button section-button">
    Weselne wspomnienia 📸
  </a>

    <div class="basic-container">
      <gallery id="basic-test" imageSize="cover" fluid [items]="items" imageSize="contain"  ></gallery>
    </div>

</div>
