.container {
}

app-header{
  position: relative;
  min-height: 80vh;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-x: hidden;

  background-image: url('../assets/wed2.jpg');
  background-size: contain;  
  background-repeat: no-repeat;
}

.side-border {
  position: absolute;
  bottom: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  opacity: 0.9;
  top: 0vh;
  pointer-events: none;
}

@media (max-width: 768px) {
  app-header {
  }

  .side-border {
    top:  -20vh;
  }
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.first-page {
    font-size: 2rem;
  }

  .content {
    font-size: 1.2rem;
    min-height: 100vh;
  }
  
.menu-wrapper {
  // position: sticky;
  // top: 0;
  z-index: 1000;
}

.flowers {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 150px;
  object-fit: cover;
  z-index: 1;
  opacity: 0.9;
}

.left {
  left: 0;
}

.right {
  right: 0;
  transform: scaleX(-1);
}

.content {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  // overflow-y: hidden;
  width: 100%;
}

.wedding-wrapper {

}

.side-border img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.side-border.left {
  left: 0;
}

.side-border.right {
  right: 0;
  transform: scaleX(-1);
}
