.container {
}

app-header{
 margin-top: 30vh;
}

@media (max-width: 768px) {
  app-header {
    margin-top: 25vh;
  }
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.first-page {
    font-size: 2rem;
  }

  .content {
    padding: 50px;
    font-size: 1.2rem;
    min-height: 100vh;
  }
  

.menu-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.wedding-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  background-image: url('../assets/wed2.jpg');
  background-size: contain;  
  background-repeat: no-repeat;

}

.flowers {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 150px;
  object-fit: cover;
  z-index: 1;
  opacity: 0.9;
}

.left {
  left: 0;
}

.right {
  right: 0;
  transform: scaleX(-1);
}

.content {
  position: relative;
  z-index: 10;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}