<div class="section-wrapper">
  <h2 class="section-header">Weselny trasport</h2>
  <div class="section-description">
    Zadbaliśmy o to, żeby każdy z Was mógł w pełni cieszyć się zabawą, bez stresu o powrót.
    Od godziny 1:00 w nocy dostępne dla Was będą busy, które będą kursować na
    dwóch trasach:

    <div class="transport-contact">
        <p>CELINKA - Agroturystyka u Musiały (Kobyla Góra) - CELINKA:</p>
        <p>Kierowca</p>
        <p class="phone-number">📞 11111111</p>
    </div>

    <div class="transport-contact">
        <p>CELINKA - Walichnowy - CELINKA</p>
        <p>Kierowca</p>
      <p class="phone-number">📞 11111111</p>
    </div>
      <p>
        Jeśli potrzebujecie transportu w okolicy tych tras - dajcie znać naszym świadkom.
        Klaudia i Kacper zadbają o to by każdy z Was dotarł bezpiecznie do domu lub hotelu.
      </p>
  </div>
</div>
