<div class="section-wrapper">
  <h2 class="section-header">Informacje</h2>
  <p class="section-description">
    Cieszymy się, że będziecie z nami świętować ten wyjątkowy dzień! Poniżej znajdziecie wszystkie niezbędne informacje dotyczące naszego wesela.
  </p>

  <div class="location-wrapper">
    <a  href="https://goo.gl/maps/KOŚCIÓŁ_LINK" target="_blank" class="location-button"> Kościół ⛪ </a>
    <a href="https://goo.gl/maps/SALA_LINK" target="_blank" class="location-button" > Sala weselna 🎉 </a>
  </div>
</div>
